@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Properties */
:root {
  /* ----- Fonts ----- */
  --font-body: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-serif: "EB Garamond", serif;
  --font-subheading: "Inconsolata", sans-serif;
  --font-body: "Inter", sans-serif;

  /* ----- Colors ----- */
  --color-background: #101010;
  --color-outline: #5f5f5f40;
  --color-card-border: #363637;
  --color-accent: #6360ff;
  
  /* Text Colors */
  --color-text-heading: #ffffff;
  --color-text-body: rgba(255, 255, 255, 0.7);
  --color-text-subheading: rgba(255, 255, 255, 0.395);
  --color-text-active: #ffffff; 

  /* ----- Typography ----- */
  --size-title: 48px;
  --size-heading: 26px;
  --size-subheading: 22px;
  --size-paragraph: 14px;
}

/* ----- Base Styles ----- */
@layer base {
  * {
    @apply m-0 p-0 box-border;
  }

  body {
    @apply bg-background text-text-body font-sans min-h-screen w-full overflow-x-hidden;
  }

  h1 {
    @apply text-text-heading font-serif;
  }
}

/* ---- Misc components ----- */
@layer components {
  .text-gradient {
    @apply bg-gradient-to-b from-white to-gray-400 bg-clip-text text-transparent;
  }

  .link {
    @apply relative underline-offset-1 decoration-2;
    
    &::after {
      @apply absolute bottom-0 left-0 h-[1px] w-full origin-bottom-right scale-x-0  transition-transform;
      content: '';
    }
    
    &:hover::after {
      @apply scale-x-100;
    }
  }
}