@tailwind base;
@tailwind components;
@tailwind utilities;

/* ----- Font Face Declarations ----- */
@font-face {
  font-family: "EB Garamond";
  src: url("../fonts/EBGaramond-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "EB Garamond";
  src: url("../fonts/EBGaramond-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "EB Garamond";
  src: url("../fonts/EBGaramond-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "EB Garamond";
  src: url("../fonts/EBGaramond-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "EB Garamond";
  src: url("../fonts/EBGaramond-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "EB Garamond";
  src: url("../fonts/EBGaramond-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "EB Garamond";
  src: url("../fonts/EBGaramond-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "EB Garamond";
  src: url("../fonts/EBGaramond-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "EB Garamond";
  src: url("../fonts/EBGaramond-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "EB Garamond";
  src: url("../fonts/EBGaramond-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

/* Custom Properties */
:root {
  /* ----- Fonts ----- */
  --font-body: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-serif: "EB Garamond", serif;
  --font-subheading: "Inconsolata", sans-serif;
  --font-body: "EB Garamond", serif;

  /* ----- Colors ----- */
  --color-background: #0d0d0d;
  --color-outline: #5f5f5f40;
  --color-card-border: #363637;
  --color-accent: #6360ff;

  /* Text Colors */
  --color-text-heading: #ffffff;
  --color-text-body: rgba(255, 255, 255, 0.8);
  --color-text-subheading: rgba(255, 255, 255, 0.5);
  --color-text-active: #ffffff;
}

/* ----- Base Styles ----- */
@layer base {
  * {
    @apply m-0 p-0 box-border;
    cursor: none !important;
  }

  html {
    @apply scroll-smooth bg-background;
    cursor: none !important;
  }

  body {
    @apply bg-background text-text-body font-sans min-h-screen w-full overflow-x-hidden;
    cursor: none !important;
  }

  /* Text hover effects */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  div,
  li {
    transition: color 0.3s ease;
    cursor: none !important;
  }

  h1 {
    @apply text-text-heading leading-[1.15];
  }

  h2 {
    @apply text-text-heading text-[24px] mb-3 font-normal leading-8;
    font-family: "EB Garamond", serif;
    font-weight: 400;
  }
  h3 {
    @apply text-text-heading text-[20px] mb-3 font-light leading-8;
    font-family: "EB Garamond", serif;
    font-weight: 300;
  }

  p {
    @apply text-text-body font-normal text-[18px] leading-[1.75rem];
  }

  ol {
    @apply text-text-body font-normal text-[18px]/[1.75] list-decimal pl-6;
  }

  li {
    @apply text-text-body font-normal text-[18px]/[1.5] mb-2;
  }

  /* Target ChaosLink components inside paragraph tags */
  p .link span {
    margin-bottom: -5px !important;
  }

  ::selection {
    @apply bg-[#3639f8ed] z-10 text-white;
  }
}

/* ---- Animation Keyframes ----- */
@layer components {
  @keyframes revealText {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideReveal {
    from {
      opacity: 0;
      transform: translateX(-10px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .text-gradient {
    @apply bg-gradient-to-b from-white to-gray-400 bg-clip-text text-transparent;
  }

  .link {
    @apply text-gray-100 underline-offset-4 relative  decoration-dotted decoration-gray-600 underline;

    /* inherit from parent */
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    line-height: inherit;
  }

  .link:hover {
    @apply underline decoration-solid decoration-white text-white;
  }
}

/* Mobile responsive typography */
@media (max-width: 768px) {
  h1 {
    @apply text-[28px] leading-[1.2];
  }

  h2 {
    @apply text-[24px] mb-4 font-extralight;
  }

  p {
    @apply text-[14px]/[1.6];
  }

  ol {
    @apply text-[14px]/[1.6];
  }

  li {
    @apply text-[14px]/[1.6] mb-3;
  }
}
